.container {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.example {
  display: flex !important;
  justify-content: center;
  align-items: center;
}